.topics {
  background: var(--azul-degrade);
  color: var(--white);
  text-align: center;

}

.topics__title {
  font-weight: 300;
  text-transform: uppercase;
  padding: 2rem 0 1rem 0;
}

.topics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics__item{
  margin: 2rem 0.5rem ;
}
.topics__item a {
  color: var(--white);
  text-decoration: none;
  padding: 1rem;
  background-color: var(--orange);
  font-size: 0.87rem;
  font-weight: 700;
}

@media screen and (min-width:1024px){
  .topics__title{
  font-size: 1.5rem;

  }

  .topics__item a {
    font-size: 1.5rem;
  }

  .topics__list{
    margin: 0 5rem;
  }
}

@media screen and (min-width:1728px ) {
  .topics{
    padding: 3rem 25vh
  }
}